This workflow integrate the Smartscope screening, provide CTF and alignment calculation to Smartscope and provide a feedback to ienhance the acquisition
[
    {
        "object.className": "ProtImportMovies",
        "object.id": "1605",
        "object.label": "pwem - import movies",
        "object.comment": "",
        "_useQueue": false,
        "_prerequisites": "",
        "_queueParams": null,
        "runName": null,
        "runMode": 0,
        "importFrom": 0,
        "filesPath" "~Movie's folder|%(HOME)s|2|moviesPath~",
        "filesPattern": "*.mrcs *.tif",
        "copyFiles": false,
        "haveDataBeenPhaseFlipped": false,
        "acquisitionWizard": null,
        "voltage": ~Voltage|200|4|volt~,
        "sphericalAberration": ~Spherical aberration|2.7|4|sa~,
        "amplitudeContrast": ~Amplitude contrast|0.1|4|ac~,
        "magnification": 50000,
        "samplingRateMode": 0,
        "samplingRate":  ~Sampling rate|1|4|sr~,
        "scannedPixelSize": 7.0,
        "doseInitial": 0.0,
        "dosePerFrame": ~Dose per frame|1.0|4|dose~
        "gainFile": "~Gain file|%(HOME)s|0|gain~",
        "darkFile": null,
        "dataStreaming": false,
        "timeout": 43200,
        "fileTimeout": 30,
        "blacklistDateFrom": null,
        "blacklistDateTo": null,
        "useRegexps": true,
        "blacklistFile": null,
        "inputIndividualFrames": false,
        "numberOfIndividualFrames": null,
        "stackFrames": false,
        "writeMoviesInProject": false,
        "movieSuffix": "_frames.mrcs",
        "deleteFrames": false
    },
    {
        "object.className": "SphireProtCRYOLOPicking",
        "object.id": "9611",
        "object.label": "sphire - cryolo picking 0.3",
        "object.comment": "",
        "_useQueue": false,
        "_prerequisites": "",
        "_queueParams": null,
        "runName": null,
        "runMode": 0,
        "inputModelFrom": 0,
        "conservPickVar": 0.3,
        "lowPassFilter": true,
        "absCutOffFreq": 0.1,
        "numCpus": 14,
        "input_size": 1024,
        "boxSize": 0,
        "max_box_per_image": 700,
        "useGpu": false,
        "gpuList": "0",
        "boxSizeFactor": 1.0,
        "hostName": "localhost",
        "numberOfThreads": 4,
        "numberOfMpi": 1,
        "streamingWarning": null,
        "streamingSleepOnWait": 0,
        "streamingBatchSize": 1,
        "inputMicrographs": "11077.outputMicrographsDoseWeighted"
    },
    {
        "object.className": "ProtBoxSizeParameters",
        "object.id": "9724",
        "object.label": "pwem - box size related parameters",
        "object.comment": "",
        "_useQueue": false,
        "_prerequisites": "",
        "_queueParams": null,
        "runName": null,
        "runMode": 0,
        "boxSize": "9611.boxsize",
        "boolExtractPartBx": true,
        "factorExtractPartBx": 1.8,
        "boolGautomatchParams": false,
        "factorGautRadius": 0.75,
        "factorGautMinInterPartDist": 0.9,
        "factorGautSigmaDiameter": 1.2,
        "factorGautAvgDiameter": 1.5,
        "boolRelionParams": false,
        "factorMinLoGFilter": 0.95,
        "factorMaxLoGFilter": 1.05,
        "boolTopazParams": false,
        "factorTopazRadius": 0.45,
        "numPartPerImg": 300,
        "boolConsensusParams": false,
        "factorConsensusRadius": 0.9,
        "hostName": "localhost",
        "numberOfThreads": 1,
        "numberOfMpi": 1,
        "inputMicrographs": "11077.outputMicrographsDoseWeighted"
    },
    {
        "object.className": "ProtRelionClassify2D",
        "object.id": "9804",
        "object.label": "relion - 2D classification (2) (copy 2)",
        "object.comment": "",
        "_useQueue": false,
        "_prerequisites": "",
        "_queueParams": "[\"default\", {}]",
        "runName": null,
        "runMode": 0,
        "isClassify": true,
        "is2D": true,
        "doContinue": false,
        "copyAlignment": false,
        "alignmentAsPriors": false,
        "fillRandomSubset": true,
        "maskDiameterA": -1,
        "maskZero": 0,
        "continueIter": "last",
        "continueMsg": "True",
        "doCTF": true,
        "haveDataBeenPhaseFlipped": null,
        "ignoreCTFUntilFirstPeak": false,
        "doCtfManualGroups": false,
        "defocusRange": 1000.0,
        "numParticles": 10.0,
        "numberOfClasses": 25,
        "regularisationParamT": 2.0,
        "useGradientAlg": true,
        "numberOfVDAMBatches": 200,
        "centerAvg": true,
        "numberOfIterations": 25,
        "limitResolEStep": -1.0,
        "doImageAlignment": true,
        "inplaneAngularSamplingDeg": 6.0,
        "offsetSearchRangePix": 5.0,
        "offsetSearchStepPix": 1.0,
        "allowCoarserSampling": false,
        "useParallelDisk": true,
        "pooledParticles": 3,
        "allParticlesRam": false,
        "scratchDir": null,
        "combineItersDisc": false,
        "doGpu": true,
        "gpusToUse": "",
        "oversampling": 1,
        "extraParams": "",
        "hostName": "localhost",
        "numberOfThreads": 1,
        "numberOfMpi": 1,
        "inputParticles": "17193.outputParticles"
    },
    {
        "object.className": "CistemProtCTFFind",
        "object.id": "10153",
        "object.label": "cistem - ctffind4 (copy)",
        "object.comment": "",
        "_useQueue": false,
        "_prerequisites": "",
        "_queueParams": null,
        "runName": null,
        "runMode": 0,
        "recalculate": false,
        "sqliteFile": null,
        "inputType": 1,
        "avgFrames": 3,
        "usePowerSpectra": false,
        "windowSize": 512,
        "lowRes": 30.0,
        "highRes": 5.0,
        "minDefocus": 5000.0,
        "maxDefocus": 50000.0,
        "stepDefocus": 500.0,
        "slowSearch": false,
        "fixAstig": true,
        "astigmatism": 100.0,
        "findPhaseShift": false,
        "minPhaseShift": 0.0,
        "maxPhaseShift": 180.0,
        "stepPhaseShift": 10.0,
        "hostName": "localhost",
        "numberOfThreads": 2,
        "numberOfMpi": 1,
        "streamingWarning": null,
        "streamingSleepOnWait": 0,
        "streamingBatchSize": 1,
        "inputMicrographs": "11077.outputMicrographsDoseWeighted"
    },
    {
        "object.className": "ProtMotionCorr",
        "object.id": "11077",
        "object.label": "motioncorr (copy)",
        "object.comment": "",
        "_useQueue": false,
        "_prerequisites": "",
        "_queueParams": null,
        "runName": null,
        "runMode": 0,
        "doSaveAveMic": true,
        "useAlignToSum": true,
        "alignFrame0": 1,
        "alignFrameN": 50,
        "binFactor": 1.0,
        "cropOffsetX": 0,
        "cropOffsetY": 0,
        "cropDimX": 0,
        "cropDimY": 0,
        "splitEvenOdd": false,
        "doSaveMovie": false,
        "doComputePSD": false,
        "doComputeMicThumbnail": false,
        "extraProtocolParams": "",
        "gpuList": "0",
        "doApplyDoseFilter": true,
        "patchX": 5,
        "patchY": 5,
        "patchOverlap": 0,
        "group": 1,
        "groupLocal": 4,
        "tol": 0.2,
        "doSaveUnweightedMic": false,
        "extraParams2": "",
        "gainRot": 0,
        "gainFlip": 0,
        "defectFile": null,
        "defectMap": null,
        "EERtext": null,
        "eerGroup": 32,
        "eerSampling": 0,
        "doMagCor": false,
        "scaleMaj": 1.0,
        "scaleMin": 1.0,
        "angDist": 0.0,
        "hostName": "localhost",
        "numberOfThreads": 1,
        "numberOfMpi": 1,
        "inputMovies": "13875.MoviesSS"
    },
    {
        "object.className": "smartscopeConnection",
        "object.id": "13875",
        "object.label": "smartscope - smartscope connection (copy)",
        "object.comment": "",
        "_useQueue": false,
        "_prerequisites": "",
        "_queueParams": null,
        "runName": null,
        "runMode": 0,
        "sessionName": "grayscale",
        "refreshTime": 120,
        "TotalTime": 86400,
        "hostName": "localhost",
        "numberOfThreads": 3,
        "numberOfMpi": 1,
        "inputMovies": "1605.outputMovies"
    },
    {
        "object.className": "ProtRelionExtractParticles",
        "object.id": "17193",
        "object.label": "relion - particles extraction (copy)",
        "object.comment": "",
        "_useQueue": false,
        "_prerequisites": "",
        "_queueParams": null,
        "runName": null,
        "runMode": 0,
        "downsampleType": 0,
        "boxSize": "9724.boxSizeExtraction",
        "doRescale": false,
        "rescaledSize": 128,
        "saveFloat16": false,
        "doInvert": true,
        "doNormalize": true,
        "backDiameter": -1,
        "stddevWhiteDust": -1.0,
        "stddevBlackDust": -1.0,
        "streamingWarning": null,
        "streamingSleepOnWait": 0,
        "streamingBatchSize": 0,
        "hostName": "localhost",
        "numberOfMpi": 4,
        "inputCoordinates": "9611.outputCoordinates",
        "ctfRelations": "10153.outputCTF"
    },
    {
        "object.className": "ProtRelionSelectClasses2D",
        "object.id": "18086",
        "object.label": "relion - 2D class ranker",
        "object.comment": "",
        "_useQueue": false,
        "_prerequisites": "",
        "_queueParams": null,
        "runName": null,
        "runMode": 0,
        "minThreshold": 0.1,
        "minParts": -1,
        "minCls": -1,
        "inputProtocol": "9804."
    },
    {
        "object.className": "smartscopeFeedback",
        "object.id": "18164",
        "object.label": "smartscope - Smartscope feedback (copy 3)",
        "object.comment": "",
        "_useQueue": false,
        "_prerequisites": "",
        "_queueParams": null,
        "runName": null,
        "runMode": 0,
        "totalClasses2D": "9804.outputClasses",
        "inputHoles": "13875.Holes",
        "inputMovies": "13875.MoviesSS",
        "goodClasses2D": "18086.outputClasses"
    },
    {
        "object.className": "provideCalculations",
        "object.id": "20520",
        "object.label": "smartscope - Provide calculations (copy 2)",
        "object.comment": "",
        "_useQueue": false,
        "_prerequisites": "",
        "_queueParams": null,
        "runName": null,
        "runMode": 1,
        "hostName": "localhost",
        "numberOfThreads": 3,
        "numberOfMpi": 1,
        "CTFCalculated": "10153.outputCTF",
        "alignmentCalculated": "11077.outputMicrographsDoseWeighted",
        "movieSmartscope": "13875.MoviesSS"
    }
]